body{

  background-image: url('../img/fundo.jpg');

}

#topo{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#links{
  margin-top: 50px;
  font-size: 1.3em;
  text-align: justify;
  background-color: white;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding-right: 2%
}

li {
  list-style-type: none;
}

a:link
{
 text-decoration:none;
 color: black;
}

.corpo{
  background-color: rgba(255, 255, 244, 0.5);
  margin-left: 20%;
  margin-right: 20%;
}
.corpo p{
  text-align: justify;
  font-size: 1.2em;
  text-indent: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.corpo ol{
  padding-left: 10%;
}

.titulo{
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}
